<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Example.Net8.Server.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    @* Sincere *@
    <link href="_content/LukeYoo.Blazor.Sincere/blazor.sincere.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    @* All Interactive by default *@
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    @* Sincere *@
    <script src="_content/LukeYoo.Blazor.Sincere/blazor.sincere.js"></script>

</body>

</html>
