@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<p>@eventLog</p>

@* Behave as a drop-in replacement of Bootstrap: https://demos.blazorbootstrap.com/pdf-viewer
 * except the name because viewer element(MDN) is within on browser
*@
<ViewerContainer
    Url="https://raw.githubusercontent.com/micttyoid/micttyoid.github.io/refs/heads/main/static/docs/pdf32000_2008.pdf"
    Orientation="Orientation.Portrait"
    OnDocumentLoaded="OnDocumentLoaded"
    OnPageChanged="OnPageChanged"
/>

@code {
    private string eventLog { get; set; } = $"Last event: ..., CurrentPage: 0, TotalPages: 0";

    private void OnDocumentLoaded(ViewerEventArgs args)
    => eventLog = $"Last event: OnDocumentLoaded, CurrentPage: {args.CurrentPage}, TotalPages: {args.TotalPages}";

    private void OnPageChanged(ViewerEventArgs args)
    => eventLog = $"Last event: OnPageChanged, CurrentPage: {args.CurrentPage}, TotalPages: {args.TotalPages}";
}
