<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="Example.Net8.Server.UseMudBlazor.styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    @* Sincere *@
    <link href="_content/LukeYoo.Blazor.Sincere/blazor.sincere.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    @* Sincere *@
    <script src="_content/LukeYoo.Blazor.Sincere/blazor.sincere.js"></script>
</body>

</html>
